.c-background {
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.c-background--item1 {
  background-image: url('/assets/img/steve-johnson-JYmcVhnMKMQ-unsplash.jpg');
}
.c-background--item2 {
  background-image: url('/assets/img/steve-johnson-JjuHP7Y-aSo-unsplash.jpg');
}
.c-background--item3 {
  background-image: url('/assets/img/steve-johnson-W2OyrItQYmw-unsplash.jpg');
}
